body {
  font-family: 'Roboto', sans-serif;
  background: #442F68;
}

header {
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 25px;
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #F4AD7F;
  margin-right: 15%;
  margin-top: 2px;
}

#search {
  width: 70%;
}

.search__btn {
  background: linear-gradient(270deg, #F975B5 0%, #F4AD7F 100%), #C4C4C4;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #E5E5E5;
  padding: 7px 25px;
  border: none;
  margin-left: 20px;
}

.search__text {
  width: 70%;
  border: none;
  border-bottom: 2px solid #F4AD7F;
  background: none;
  outline: none;
  color: #E5E5E5;
}


main {
  width: 95%;
  margin: 0 auto;
}

.movie {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.card + .card {
  margin-left: 25px;
}

.card img {
  height: 300px;
  border-radius: 20px 20px 0px 0px;
}

.card__info {
  border-top: 5px solid #F4AD7F;
  background: #2B2146;
  margin-top: -5px;
  padding: 15px;
}

.info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #E5E5E5;
  text-decoration: none;
  text-align: center;
}

.info__rating {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F4AD7F;
}

.info__year {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #F975B5;
}

.detail {
  background: #2B2146;
  border-radius: 20px;
  padding: 25px;
  margin-top: 45px;
  display: flex;

}

.detail__img {
  border-radius: 20px;
  height: 300px;
  margin-right: 30px;
}

.detail-info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #F4AD7F;
}

.detail-info__year {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #E5E5E5;
}

.detail-info__raiting {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #E5E5E5;
  position: relative;
}
.detail-info__raiting::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: #F975B5;
  bottom: -100%;
}

.detail-info__plot {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E5E5E5;
  margin-bottom: 60px;
}

.btn {
  background: linear-gradient(270deg, #F975B5 0%, #F4AD7F 100%), #C4C4C4;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #E5E5E5;
  padding: 10px 35px;
  text-decoration: none;
}

.error {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F975B5;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  margin-top: -20px;
}

@media (max-width: 640px) {
  .logo {
    display: none;
  }
  #search {
    width: 100%;
  }
  .detail {
    display: block;
  }
}

@media (max-width: 450px) {
  .search__text {
    width: 200px;
  }
}